.row {
    display: flex;
    width: fit-content;
    margin: auto;
}

.row .cell {
    width: 50px;
    height: 50px;
    border: 1px;
    text-align: center;
    margin: 2px;
    background-color: rgb(200,200,200);
}


.correct {
    background-color: green;
}

.partial {
    background-color: yellow;
}

.wrong {
    background-color: rgb(100,100,100);
}
